################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoneyTransferApp
/MoneyTransferApp/bin/Debug/net5.0
/MoneyTransferApp/obj
/.vs
